## <center> Performing EDA

In [4]:
!pip install pandas
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saiba\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\saiba\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.5 MB 6.9 MB/s eta 0:00:02
   ---------- ----------------------------- 2.9/11.5 MB 7.0 MB/s eta 0:00:02
   ------------ --------------------------- 3.7/11.5 MB 7.0 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.5 MB 5.8 MB/s eta 0:00:02
   --------------------- ------------------ 6.3/11.5 MB 6.0 MB/s eta 0:00:01
   --------------------------- ------------ 7.9/11.5 MB 6.2 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 6.3 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 6.1 MB/s eta 0:00:00
Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/12.6 MB 7.0 MB/s eta 0:00:02
   --------- ------------------------------ 3.1/12.6 MB 7.7 MB/s eta 0:00:02
   -------------- ------------------------- 4.7/12.6 MB 7.7 MB/s eta 0:00:02
   -------------------- ------------------- 6.6/12.6 MB 7.8 MB/s eta 0:00:01
   ------------------------- -------------- 8.1/12.6 MB 7.8 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.6 MB 7.6 MB/s eta 0:00:01
   ---------------------------------- ----- 11.0/12.6 MB 7.5 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 7.0 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2025.1 tzdata-2025.1

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: C:\Users\saiba\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\saiba\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.2)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: C:\Users\saiba\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
#Importing necessary libraries
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('HDHI Admission data.csv')

In [7]:
#A summary of the data
data.head()

,SNO,Admission No,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,duration of intensive unit stay,...,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION,DOCTORS NOTE
0,1,234735,04-01-2017,04-03-2017,81,M,R,E,Apr-17,2,...,0,0,0,0,0,0,0,0,0,Patient's condition is stable. Follow up as Ad...
1,2,234696,04-01-2017,04-05-2017,65,M,R,E,Apr-17,2,...,0,0,0,0,0,0,0,0,0,Patient's condition is stable. Follow up as Ad...
2,3,234882,04-01-2017,04-03-2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,Patient's condition is stable. Follow up as Ad...
3,4,234635,04-01-2017,04-08-2017,67,F,U,E,Apr-17,6,...,0,0,0,0,0,0,0,0,0,Patient's condition is stable. Follow up as Ad...
4,5,234486,04-01-2017,4/23/2017,60,F,U,E,Apr-17,9,...,0,0,0,0,0,0,0,0,0,Patient's condition is stable. Follow up as Ad...

In [10]:
#data size
data.shape

(15757, 56)

In [9]:
#data columns names
list(data.columns)

['SNO',
 'Admission No',
 'D.O.A',
 'D.O.D',
 'AGE',
 'GENDER',
 'RURAL',
 'TYPE OF ADMISSION-EMERGENCY/OPD',
 'month year',
 'duration of intensive unit stay',
 'OUTCOME',
 'SMOKING ',
 'ALCOHOL',
 'DM',
 'HTN',
 'CAD',
 'PRIOR CMP',
 'CKD',
 'HB',
 'TLC',
 'PLATELETS',
 'GLUCOSE',
 'UREA',
 'CREATININE',
 'BNP',
 'RAISED CARDIAC ENZYMES',
 'EF',
 'SEVERE ANAEMIA',
 'ANAEMIA',
 'STABLE ANGINA',
 'ACS',
 'STEMI',
 'ATYPICAL CHEST PAIN',
 'HEART FAILURE',
 'HFREF',
 'HFNEF',
 'VALVULAR',
 'CHB',
 'SSS',
 'AKI',
 'CVA INFRACT',
 'CVA BLEED',
 'AF',
 'VT',
 'PSVT',
 'CONGENITAL',
 'UTI',
 'NEURO CARDIOGENIC SYNCOPE',
 'ORTHOSTATIC',
 'INFECTIVE ENDOCARDITIS',
 'DVT',
 'CARDIOGENIC SHOCK',
 'SHOCK',
 'PULMONARY EMBOLISM',
 'CHEST INFECTION',
 'DOCTORS NOTE']

In [14]:
[col for col in data.columns]

['SNO',
 'Admission No',
 'D.O.A',
 'D.O.D',
 'AGE',
 'GENDER',
 'RURAL',
 'TYPE OF ADMISSION-EMERGENCY/OPD',
 'month year',
 'duration of intensive unit stay',
 'OUTCOME',
 'SMOKING ',
 'ALCOHOL',
 'DM',
 'HTN',
 'CAD',
 'PRIOR CMP',
 'CKD',
 'HB',
 'TLC',
 'PLATELETS',
 'GLUCOSE',
 'UREA',
 'CREATININE',
 'BNP',
 'RAISED CARDIAC ENZYMES',
 'EF',
 'SEVERE ANAEMIA',
 'ANAEMIA',
 'STABLE ANGINA',
 'ACS',
 'STEMI',
 'ATYPICAL CHEST PAIN',
 'HEART FAILURE',
 'HFREF',
 'HFNEF',
 'VALVULAR',
 'CHB',
 'SSS',
 'AKI',
 'CVA INFRACT',
 'CVA BLEED',
 'AF',
 'VT',
 'PSVT',
 'CONGENITAL',
 'UTI',
 'NEURO CARDIOGENIC SYNCOPE',
 'ORTHOSTATIC',
 'INFECTIVE ENDOCARDITIS',
 'DVT',
 'CARDIOGENIC SHOCK',
 'SHOCK',
 'PULMONARY EMBOLISM',
 'CHEST INFECTION',
 'DOCTORS NOTE']

In [11]:
data.info

<bound method DataFrame.info of          SNO Admission No       D.O.A       D.O.D  AGE GENDER RURAL  \
0          1       234735  04-01-2017  04-03-2017   81      M     R
1          2       234696  04-01-2017  04-05-2017   65      M     R
2          3       234882  04-01-2017  04-03-2017   53      M     U
3          4       234635  04-01-2017  04-08-2017   67      F     U
4          5       234486  04-01-2017   4/23/2017   60      F     U
...      ...          ...         ...         ...  ...    ...   ...
15752  15753       699585  31-03-2019  04-04-2019   86      F     U
15753  15754       699500   3/31/2019  04-01-2019   50      M     R
15754  15755       700415  31-03-2019  09-04-2019   82      M     U
15755  15756       699524  31-03-2019  03-04-2019   59      F     U
15756  15757       699524  31-03-2019  03-04-2019   59      F     U

      TYPE OF ADMISSION-EMERGENCY/OPD month year  \
0                                   E     Apr-17
1                                   E     Apr-17
2                                   E     Apr-17
3                                   E     Apr-17
4                                   E     Apr-17
...                               ...        ...
15752                               O     Mar-19
15753                               E     Mar-19
15754                               E     Mar-19
15755                               O     Mar-19
15756                               O     Mar-19

       duration of intensive unit stay  ... UTI  NEURO CARDIOGENIC SYNCOPE  \
0                                    2  ...   0                          0
1                                    2  ...   0                          0
2                                    3  ...   0                          0
3                                    6  ...   0                          0
4                                    9  ...   0                          0
...                                ...  ...  ..                        ...
15752                                1  ...   0                          0
15753                                2  ...   0                          0
15754                                5  ...   0                          0
15755                                2  ...   0                          0
15756                                2  ...   0                          0

       ORTHOSTATIC  INFECTIVE ENDOCARDITIS  DVT  CARDIOGENIC SHOCK  SHOCK  \
0                0                       0    0                  0      0
1                0                       0    0                  0      0
2                0                       0    0                  0      0
3                0                       0    0                  0      0
4                0                       0    0                  0      0
...            ...                     ...  ...                ...    ...
15752            0                       0    0                  0      0
15753            0                       0    0                  0      0
15754            0                       0    0                  0      0
15755            0                       0    0                  0      0
15756            0                       0    0                  0      0

       PULMONARY EMBOLISM CHEST INFECTION  \
0                       0               0
1                       0               0
2                       0               0
3                       0               0
4                       0               0
...                   ...             ...
15752                   0               0
15753                   0               0
15754                   0               0
15755                   0               0
15756                   0               0

                                            DOCTORS NOTE
0      Patient's condition is stable. Follow up as Ad...
1      Patient's condition is stable. Follow up as Ad...
2      Patient's condition is stable. Follow up as Ad...
3      Patient's condition is stable. Follow up as Ad...
4      Patient's condition is stable. Follow up as Ad...
...                                                  ...
15752  Patient's condition is stable. Follow up as Ad...
15753  The patient Passed Away, We are sorry for your...
15754  Patient's condition is stable. Follow up as Ad...
15755  Patient's condition is stable. Follow up as Ad...
15756  Patient's condition is stable. Follow up as Ad...

[15757 rows x 56 columns]>

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15757 entries, 0 to 15756
Data columns (total 56 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   SNO                              15757 non-null  int64
 1   Admission No                     15757 non-null  object
 2   D.O.A                            15757 non-null  object
 3   D.O.D                            15757 non-null  object
 4   AGE                              15757 non-null  int64
 5   GENDER                           15757 non-null  object
 6   RURAL                            15757 non-null  object
 7   TYPE OF ADMISSION-EMERGENCY/OPD  15757 non-null  object
 8   month year                       15757 non-null  object
 9   duration of intensive unit stay  15757 non-null  int64
 10  OUTCOME                          15757 non-null  object
 11  SMOKING                          15757 non-null  int64
 12  ALCOHOL                          15757 non-null  int64
 13  DM                               15757 non-null  int64
 14  HTN                              15757 non-null  int64
 15  CAD                              15757 non-null  int64
 16  PRIOR CMP                        15757 non-null  int64
 17  CKD                              15757 non-null  int64
 18  HB                               15505 non-null  object
 19  TLC                              15471 non-null  object
 20  PLATELETS                        15472 non-null  object
 21  GLUCOSE                          14894 non-null  object
 22  UREA                             15516 non-null  object
 23  CREATININE                       15510 non-null  object
 24  BNP                              7316 non-null   object
 25  RAISED CARDIAC ENZYMES           15757 non-null  int64
 26  EF                               14252 non-null  object
 27  SEVERE ANAEMIA                   15757 non-null  int64
 28  ANAEMIA                          15757 non-null  int64
 29  STABLE ANGINA                    15757 non-null  int64
 30  ACS                              15757 non-null  int64
 31  STEMI                            15757 non-null  int64
 32  ATYPICAL CHEST PAIN              15757 non-null  int64
 33  HEART FAILURE                    15757 non-null  int64
 34  HFREF                            15757 non-null  int64
 35  HFNEF                            15757 non-null  int64
 36  VALVULAR                         15757 non-null  int64
 37  CHB                              15757 non-null  int64
 38  SSS                              15757 non-null  int64
 39  AKI                              15757 non-null  int64
 40  CVA INFRACT                      15757 non-null  int64
 41  CVA BLEED                        15757 non-null  int64
 42  AF                               15757 non-null  int64
 43  VT                               15757 non-null  int64
 44  PSVT                             15757 non-null  int64
 45  CONGENITAL                       15757 non-null  int64
 46  UTI                              15757 non-null  int64
 47  NEURO CARDIOGENIC SYNCOPE        15757 non-null  int64
 48  ORTHOSTATIC                      15757 non-null  int64
 49  INFECTIVE ENDOCARDITIS           15757 non-null  int64
 50  DVT                              15757 non-null  int64
 51  CARDIOGENIC SHOCK                15757 non-null  int64
 52  SHOCK                            15757 non-null  int64
 53  PULMONARY EMBOLISM               15757 non-null  int64
 54  CHEST INFECTION                  15757 non-null  object
 55  DOCTORS NOTE                     15757 non-null  object
dtypes: int64(38), object(18)
memory usage: 6.7+ MB

In [12]:
data.describe()

,SNO,AGE,duration of intensive unit stay,SMOKING,ALCOHOL,DM,HTN,CAD,PRIOR CMP,CKD,...,PSVT,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM
count,15757.000000,15757.000000,15757.00000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,...,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000
mean,7879.000000,61.426160,3.80377,0.050327,0.064797,0.323475,0.485879,0.669607,0.154471,0.098369,...,0.007552,0.010472,0.061877,0.008377,0.007870,0.001840,0.013264,0.059910,0.046646,0.015358
std,4548.798431,13.420862,4.01564,0.218625,0.246174,0.467817,0.499816,0.470369,0.361411,0.297822,...,0.086577,0.101797,0.240940,0.091146,0.088363,0.042862,0.114406,0.237327,0.210886,0.122977
min,1.000000,4.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3940.000000,54.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7879.000000,62.000000,3.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,11818.000000,70.000000,5.00000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,15757.000000,110.000000,58.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
data.describe(include='int')

,SNO,AGE,duration of intensive unit stay,SMOKING,ALCOHOL,DM,HTN,CAD,PRIOR CMP,CKD,...,PSVT,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM
count,15757.000000,15757.000000,15757.00000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,...,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000
mean,7879.000000,61.426160,3.80377,0.050327,0.064797,0.323475,0.485879,0.669607,0.154471,0.098369,...,0.007552,0.010472,0.061877,0.008377,0.007870,0.001840,0.013264,0.059910,0.046646,0.015358
std,4548.798431,13.420862,4.01564,0.218625,0.246174,0.467817,0.499816,0.470369,0.361411,0.297822,...,0.086577,0.101797,0.240940,0.091146,0.088363,0.042862,0.114406,0.237327,0.210886,0.122977
min,1.000000,4.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3940.000000,54.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7879.000000,62.000000,3.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,11818.000000,70.000000,5.00000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,15757.000000,110.000000,58.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [27]:
data.describe(include='object')

,Admission No,D.O.A,D.O.D,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,OUTCOME,HB,TLC,PLATELETS,GLUCOSE,UREA,CREATININE,BNP,EF,CHEST INFECTION,DOCTORS NOTE
count,15757,15757,15757,15757,15757,15757,15757,15757,15505,15471,15472,14894,15516,15510,7316,14252,15757,15757
unique,12244,1064,1073,2,2,2,24,3,182,452,658,521,329,471,1271,47,3,3
top,256628,01-01-2018,09-01-2019,M,U,E,Jan-19,DISCHARGE,12.6,8.4,150,110,27,0.8,EMPTY,60,0,Patient's condition is stable. Follow up as Ad...
freq,17,50,45,9990,12077,10924,870,13756,300,209,218,270,459,1540,640,4386,15415,13756

In [21]:
data.isna().sum()!=0

SNO                                False
Admission No                       False
D.O.A                              False
D.O.D                              False
AGE                                False
GENDER                             False
RURAL                              False
TYPE OF ADMISSION-EMERGENCY/OPD    False
month year                         False
duration of intensive unit stay    False
OUTCOME                            False
SMOKING                            False
ALCOHOL                            False
DM                                 False
HTN                                False
CAD                                False
PRIOR CMP                          False
CKD                                False
HB                                  True
TLC                                 True
PLATELETS                           True
GLUCOSE                             True
UREA                                True
CREATININE                          True
BNP                                 True
RAISED CARDIAC ENZYMES             False
EF                                  True
SEVERE ANAEMIA                     False
ANAEMIA                            False
STABLE ANGINA                      False
ACS                                False
STEMI                              False
ATYPICAL CHEST PAIN                False
HEART FAILURE                      False
HFREF                              False
HFNEF                              False
VALVULAR                           False
CHB                                False
SSS                                False
AKI                                False
CVA INFRACT                        False
CVA BLEED                          False
AF                                 False
VT                                 False
PSVT                               False
CONGENITAL                         False
UTI                                False
NEURO CARDIOGENIC SYNCOPE          False
ORTHOSTATIC                        False
INFECTIVE ENDOCARDITIS             False
DVT                                False
CARDIOGENIC SHOCK                  False
SHOCK                              False
PULMONARY EMBOLISM                 False
CHEST INFECTION                    False
DOCTORS NOTE                       False
dtype: bool

In [13]:
#na values
data.isna().sum()

SNO                                   0
Admission No                          0
D.O.A                                 0
D.O.D                                 0
AGE                                   0
GENDER                                0
RURAL                                 0
TYPE OF ADMISSION-EMERGENCY/OPD       0
month year                            0
duration of intensive unit stay       0
OUTCOME                               0
SMOKING                               0
ALCOHOL                               0
DM                                    0
HTN                                   0
CAD                                   0
PRIOR CMP                             0
CKD                                   0
HB                                  252
TLC                                 286
PLATELETS                           285
GLUCOSE                             863
UREA                                241
CREATININE                          247
BNP                                8441
RAISED CARDIAC ENZYMES                0
EF                                 1505
SEVERE ANAEMIA                        0
ANAEMIA                               0
STABLE ANGINA                         0
ACS                                   0
STEMI                                 0
ATYPICAL CHEST PAIN                   0
HEART FAILURE                         0
HFREF                                 0
HFNEF                                 0
VALVULAR                              0
CHB                                   0
SSS                                   0
AKI                                   0
CVA INFRACT                           0
CVA BLEED                             0
AF                                    0
VT                                    0
PSVT                                  0
CONGENITAL                            0
UTI                                   0
NEURO CARDIOGENIC SYNCOPE             0
ORTHOSTATIC                           0
INFECTIVE ENDOCARDITIS                0
DVT                                   0
CARDIOGENIC SHOCK                     0
SHOCK                                 0
PULMONARY EMBOLISM                    0
CHEST INFECTION                       0
DOCTORS NOTE                          0
dtype: int64

In [18]:
data.duplicated()==False

0        True
1        True
2        True
3        True
4        True
         ...
15752    True
15753    True
15754    True
15755    True
15756    True
Length: 15757, dtype: bool

In [26]:
data['SNO'].unique()

array([    1,     2,     3, ..., 15755, 15756, 15757], shape=(15757,))